@import "../variables";
.container-pricing {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.price-table {
    &-pricing-page {
        padding-top: 50px;
    }
    h3 {
        font-weight: map-get($font-weights, semi-bold);
        font-size: 24px;
        margin-bottom: 32px;
    }
}

.pricing-interested {
    background:linear-gradient($hover-color,$white);
    padding: 53px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pricing-product-effects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 56px;
    width: 80%;
    margin: 0 auto;

    h2 {
        font-size: 34px;
        margin-bottom: 0;
        text-align: center;
    }

    &-items {
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
    }
    &-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
        width: 75%;

        &-header {
            display: flex;
            gap: 14px;
            align-items: center;
            justify-content: center;

            h4 {
                font-size: 24px;
                font-weight: map-get($font-weights, semi-bold);
                margin-bottom: 0;
            }
        }
    }
}

.pricing-questions {
    width: 66%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
        font-size: 34px;
        margin-bottom: 0;
        text-align: center;
    }
    p {
        font-size: 18px;
        margin-bottom: 25px;
        text-align: center;
    }

    &-onglets {
        display: flex;
        flex-direction: column;

        &-items {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }

        &-item {
            // display: flex;
            // flex-direction: column;
            // align-items: flex-start;
            // gap: 14px;

            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 14px;
                list-style-type: none;
            }

            & button {
                background: none;
                border: none;
                color: $dark-color;
                font-weight: map-get($font-weights, medium);
                font-size: 18px;
                cursor: pointer;
                position: relative;
                    
                &:before {
                    content: "";
                    position: absolute;
                    left: -36px;
                    width: 24px;
                    height: 24px;
                    background-image: url('../../../images/icons/plus.svg');
                }
            }

            p{
                font-size: 16px;
                text-align: left;
                display: none;
                margin: 0;
            }
    
            .active p{
                display: flex;
                animation-duration: .5s;
                animation-name: showAnswer;
            }
            .active button{
                &:before {
                    background-image: url('../../../images/icons/min.svg');
                }
            }
        }

        &hr {
            background-color: #E7E7E7;
            height: 1px;
            border: none;
        }
    }
}
.call-to-action {
    &-container {
        width: 68%;
        margin: 0 auto;          
    }
}



