.container-pricing {
    display: flex;
    flex-direction: column;
    gap: 150px;
    .price-table {
        &-pricing-page {
            padding-top: 50px;
        }
        h3 {
            font-weight: map-get($font-weights, semi-bold);
            font-size: 24px;
            margin-bottom: 32px;
        }
    }
    .pricing-interested {
        background:linear-gradient($hover-color,$white);
        padding: 53px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

