.main-header {
    width: 100%;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 80px;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);

    &-bar {
        width: 78%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }

    &-logo a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 24px;

        .active, a:hover {
            font-weight: map-get($font-weights, semi-bold);
        }
    }
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 56px;
    padding-top: 25px;
    
    &-btns {
        display: flex;
        text-align: left;
        align-items: center;
        gap: 30px;

        .play-btn {
            background-color: $white;
            color: $primary-color;
            text-decoration: underline;
            border: none;
            display: flex;
            align-items: center;
            gap: 8px;

            &:hover {
                background-color: $hover-color;
                font-weight: map-get($font-weights, bold);
            }    
        }
    }
}

.main-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 114px;

    &-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 46px;
    }
}

.flex-sections {
    padding-top: 150px;
    display: flex;
    gap: 84px;

    .left {
        font-size: 32px;
        margin-bottom: 23px;
    }
    .support-list {
        display: flex;
        gap: 30px;
        align-items: center;

        .check-icons-margin {
            margin-bottom: 30px;
        }
    }
}

.contact-expert-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 203px;

    h3 {
        margin-bottom: 16px;
    }

    .center-para {
        width: 60%;
        margin: 0 auto;
    }

    .expert-roles {
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 180px;
    
        .expert-role {
            display: flex;
            align-items: center;
            gap: 16px;
        }
    
        .right {
            flex-direction: row-reverse;
            text-align: right;
        }

        .message {
            position: relative;

            & p {
                position: absolute;
                top: 50%;
                left: -35%;
                transform: translate(50%,-50%);
            }
        }
    }
    .center {
        margin-top: 48px;
    }
}

.blogs-section {
    padding-top: 150px;

    h2 {
        font-size: 34px;
        margin-bottom: 8px;
    }

    h4 {
        font-weight: map-get($font-weights, bold);
        font-size: 24px;
    }
    p {
        margin-bottom: 12px;
    }

    .blogs-section-items {
        padding-top: 20px;
        display: flex;
        gap: 32px;

        .blogs-section-item{
            border: 1px solid #DEDEDE;
            border-radius: 9px;
            max-width: 31%;

            img {
                width: 100%;
            }

            &-content {
                padding: 24px;

                & .p-bold {
                    font-weight: map-get($font-weights, bold);
                }
            }

            .active, & :hover{
                color: $primary-color;
            }
            
        }
    }

    .blogs-slides {
        list-style: none;
        text-align: center;
        font-size: 60px;
        color: #EFEFEF;
    
        li{
            display: inline-block;
        }
        button{
            border: 1px solid #EFEFEF;
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 7px;
            margin: 0 10px;
            cursor: pointer;
        }
        .active, & button:hover{
            background-color: $primary-color;
        }

    }
}

.price-table {
    padding-top: 150px;

    h2 {
        font-size: 34px;
        text-align: center;
    }
    p {
        font-weight: map-get($font-weights, medium);
        text-align: center;
    }

    &-row {
        display: flex;
        gap: 70px;
        

    }
    &-column {
        border: 1px solid #FFFFFF;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
        padding: 32px 73px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            font-size: 24px;
        }
        p {
            text-align: left;
            margin-bottom: 16px;
        }
        h2 {
            font-size: 76px;
            text-align: left;
            color: $primary-color;
            margin-bottom: 0px;
        }
        h4 {
            color: $primary-color;
            font-weight: map-get($font-weights, bold);
            font-size: 24px;
            margin-bottom: 4px;
        }
        h5 {
            color: #AFAFAF;
            font-weight: map-get($font-weights, regular);
        }
        .price-value {
            display: flex;
            align-items:center;
        }
        .button {
            margin-top: 20px;
        }
        .center {
            text-align: center;
        }
    }
    .standard {
        background-color: $primary-color;

        h2,h4,h6,p {
            color: $white;
        }
        .button {
            background-color: $white;
            color: $primary-color;
        }
    }
}


