@include media-xl {
    .body-background {
        background: 50% 9% url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 53% url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .flex-sections {
        gap: 300px;
    }
}

@include media-lg {
    .body-background {
        background: 50% 13.5% url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 52% url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
}

@include media-md {
    body {
        width: 100%;
        overflow: auto;
    }
    .body-background {
        background: 50% 13.2% url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 48% url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .main-header-bar {
        width: 90%!important;
    }
    .container {
        width: 90%!important;
    }
    .client-items {
        gap: 30px!important;
    }
    .footer-container {
        width: 90%!important;
    }
    .col1 {
        padding-right: 0!important;
    }
    .col2 {
        padding-right: 0!important;
    }
    img[alt="hero illustration"],
    img[alt="management"],
    img[alt="support"],
    img[alt="collaborative"],
    img[alt="boost business"],
    img[alt="Apply for a product"],
    img[alt="Pay fully refundable"],
    img[alt="Completion"],
    img[alt="product great effects"] {
        width: 40vw;
    }

    .price-table-pricing-page {
        width: 95%!important;
        margin: 0 auto;
    }
    .price-table-row {
        gap: 20px;
    }

    .pricing-product-effects-item {
        width: 100%!important;
    }

    .call-to-action {
        gap: 60px
    }
    .call-to-action-container {
        width: 78%!important;
    }
    .footer-item {
        max-width: 270px!important;
    }
}

@include media-mobile-lg {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
    .body-background {
        background: 50% 16% url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 43% url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .container {
        gap: 100px!important;
    }

    header {
        .main-header-bar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 30px;
    
            .main-header-nav {
                display: none;
                flex-direction: column;
                align-items:center;
                justify-content:flex-end;
                gap: 30px;
                width: 100%;
                transform: translateY(0);
                
            }
        }
        .main-header-nav-btn {
            border: none;
            position: absolute;
            right: 35px;
            top: 40px;
            width: 23px;
            height: 3px;
            background: $dark-color;
            &::before {
                content: '';
                position: absolute;
                right: 0.5px;
                top: -8px;
                width: 23px;
                height: 3px;
                background: $dark-color;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0.5px;
                top: 8px;
                width: 23px;
                height: 3px;
                background: $dark-color;
            }
        }
    }
    
    .open-menu{
        display: flex!important;
        
        .active, a:hover {
            font-weight: map-get($font-weights, semi-bold);
        }
    }

    .hero-section,
    .main-presentation,
    .main-presentation-items,
    .flex-sections,
    .blogs-section-items,
    .price-table-row,
    .review-section-items,
    .call-to-action,
    .footer-items,
    .product-features-description,
    .product-work-item,
    .product-join-items,
    .pricing-product-effects-items {
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .client-items {
        width: 90%;
        grid-template-columns: repeat(2,2fr)!important;
    }

    .expert-roles {
        grid-template-columns: repeat(1 ,1fr)!important;
        align-items: center!important;
        justify-content: center!important;
    }
    img[alt="hero illustration"],
    img[alt="management"],
    img[alt="support"],
    img[alt="collaborative"],
    img[alt="boost business"],
    img[alt="Apply for a product"],
    img[alt="Pay fully refundable"],
    img[alt="Completion"],
    img[alt="product great effects"] {
        width: 80vw;
    }
    .hero-section,
    .flex-sections {
        flex-direction: column-reverse!important;
        &.middle {
            flex-direction: column!important;
        }
    }
    .main-presentation {
        h3 {
            width: 85%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
                width: 70%;
            }
        }
    }
    .contact-expert-section {
        h3 {
            width: 95%;
        }
        .center-para {
            width: 90%;
        }
        .left-in-media {
            flex-direction: row!important;
        }
        .right-in-media {
            flex-direction: row-reverse!important;
        }
        img[alt="first expert"],
        img[alt="second expert"],
        img[alt="third expert"],
        img[alt="fourth expert"] {
            width: 70px!important;
            height: 70px!important;
        }
    }
    .blogs-section {
        &-items {
            & .blogs-section-item {
                max-width: 100%!important;
                &-content h4 {
                    width: 85%!important;
                }
            }
        }
        & .blogs-slides {
            display: none;
        }
    }

    .product-work {
        &-item-content {
            max-width: 90%!important;
        }
        button {
            display: none;
        }
    }

    .product-join {
        h2 {
            width: 80%!important;
        }
        &-items {
            gap: 100px!important;
        }
    }

    .pricing-interested {
        h2 {
            font-size: 32px;
            width: 80%;
            text-align: center;
        }
        p {
            width: 75%;
            text-align: center;
        }
    }
    .pricing-questions {
        width: 73%!important;
        h2 {
            font-size: 32px;
        }
        button {
            text-align: left;
        }
    }
 
    .call-to-action {
        gap: 32px;
        &-content {
           justify-content: center!important;
           align-items: center;
           h4 {
                text-align: center;
            }
        }

    }
    footer {
        .footer-items {
            gap: 30px!important;
            align-items: center!important;
    
            .footer-item {
                align-items: center!important;
                
                & .email-form {
                    align-items: center!important;
                }
            }
        }
        p {
            text-align: center;
        }
    }
}

@include media-mobile-md {
    .body-background {
        background: 50% 16.5% url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 42.7% url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    .customer-container {
        gap: 80px!important;

        .client-container {
            padding-top: 60px!important;
            gap: 20px!important;
        }

        .client-items {
            width: 30%!important;
            grid-template-columns: repeat(1,1fr)!important;
            align-items: center!important;
            justify-content:center!important;
        }
        .product-features {
            h2 {
                text-align: center;
            }
        }
    }
    

}

@include media-mobile-sm {
    .body-background {
        background: 50% 17% url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 42.3% url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    .contact-expert-section {
        h3 {
            width: 90%;
        }
        .center-para {
            width: 80%;
        }
        .expert-role {
            gap: 10px!important;

            img[alt="first expert"],
            img[alt="second expert"],
            img[alt="third expert"],
            img[alt="fourth expert"] {
                width: 50px!important;
                height: 50px!important;
            }

            .message{
                img{
                    width: 95%;
                }
                p {
                    text-align: center;
                }
            }
        }
        
    }

    .product-work {
        h2 {
            font-size: 30px!important;
        }

        &-item-content {
            max-width: 98%!important;
        }
    }
}

