@include media-xl {
    body {
        background: 50% 550px url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 3250px url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .flex-sections {
        gap: 300px;
    }
}

@include media-lg {
    body {
        background: 50% 900px url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 3400px url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
}

@include media-md {
    body {
        width: 100%;
        overflow: auto;
        background: 0% 3210px url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .main-header-bar {
        width: 90%!important;
    }
    .container {
        width: 90%!important;
    }
    .footer-container {
        width: 90%!important;
    }
    .col1 {
        padding-right: 0!important;
    }
    .col2 {
        padding-right: 0!important;
    }
    img[alt="hero illustration"],
    img[alt="management"],
    img[alt="support"],
    img[alt="collaborative"],
    img[alt="boost business"] {
        width: 40vw;
    }

    .call-to-action {
        gap: 60px
    }
    .footer-item {
        max-width: 270px!important;
    }
}

@include media-mobile-lg {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
    body {
        background: 50% 1950px url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 5150px url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .container {
        gap: 100px!important;
    }
    .main-header-nav {
        visibility: hidden;
    }

    .main-header-nav-btn {
        border: none;
        position: absolute;
        right: 35px;
        top: 35px;
        width: 23px;
        height: 3px;
        background: $dark-color;
        &::before {
            content: '';
            position: absolute;
            right: 0.5px;
            top: -8px;
            width: 23px;
            height: 3px;
            background: $dark-color;
        }
        &::after {
            content: '';
            position: absolute;
            right: 0.5px;
            top: 8px;
            width: 23px;
            height: 3px;
            background: $dark-color;
        }
    }

    .open-menu{
        visibility: visible!important;
        width: 100%;
        background-color: $white;

        &-items {
            height: 65vh;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content:center;
            gap: 30px;
            transform: translateY(0);

            .active, a:hover {
                font-weight: map-get($font-weights, semi-bold);
            }

        }
    }
    .hero-section,
    .main-presentation,
    .main-presentation-items,
    .flex-sections,
    .blogs-section-items,
    .price-table-row,
    .review-section-items,
    .call-to-action,
    .footer-items {
        flex-direction: column;
        align-items: center!important;
        justify-content: center!important;
    }
    .expert-roles {
        grid-template-columns: repeat(1 ,1fr)!important;
        align-items: center!important;
        justify-content: center!important;
    }
    img[alt="hero illustration"],
    img[alt="management"],
    img[alt="support"],
    img[alt="collaborative"],
    img[alt="boost business"] {
        width: 80vw;
    }
    .hero-section,
    .flex-sections {
        flex-direction: column-reverse;
        &.middle {
            flex-direction: column;
        }
    }
    .main-presentation {
        h3 {
            width: 85%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
                width: 70%;
            }
        }
    }
    .contact-expert-section {
        h3 {
            width: 95%;
        }
        .left-in-media {
            flex-direction: row!important;
        }
        .right-in-media {
            flex-direction: row-reverse!important;
        }
        img[alt="first expert"],
        img[alt="second expert"],
        img[alt="third expert"],
        img[alt="fourth expert"] {
            width: 70px!important;
            height: 70px!important;
        }
    }
    .blogs-section-items {
        & .blogs-section-item {
            max-width: 100%!important;
            &-content h4 {
                width: 85%!important;
            }
        }
    }

    .call-to-action {
        gap: 32px;
        &-content {
           justify-content: center!important;
           align-items: center;
           h4 {
                text-align: center;
            }
        }

    }
    footer {
        .footer-items {
            gap: 30px!important;
            align-items: center!important;
    
            .footer-item {
                align-items: center!important;
                
                & .email-form {
                    align-items: center!important;
                }
            }
        }
        p {
            text-align: center;
        }
    }
}

@include media-mobile-md {
    body {
        background: 50% 2070px url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 5250px url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
}

@include media-mobile-sm {
    body {
        background: 50% 2150px url(../../images/backgrounds/Bg.svg)no-repeat,
                    0% 5300px url(../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    .contact-expert-section {
        h3 {
            width: 90%;
        }
        .center-para {
            width: 80%;
        }
        .expert-role {
            gap: 10px!important;

            img[alt="first expert"],
            img[alt="second expert"],
            img[alt="third expert"],
            img[alt="fourth expert"] {
                width: 50px!important;
                height: 50px!important;
            }

            .message{
                img{
                    width: 95%;
                }
                p {
                    text-align: center;
                }
            }
        }
        
    }
}
