.resource-hero {
    padding-top: 76px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 70px;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start!important;
        gap: 24px;
        h2 {
            font-weight: map-get($font-weights, semi-bold);
            margin-bottom: 0;
        }
        p {
            font-size: 20px;
            margin-bottom: 0;
        }
        &-joins {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            & span {
                color: $primary-color;
            }
        }
        .resources-email-form {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            border: 1px solid #EAEAEA;
            border-radius: 100px;

            input[type=email]{
                width: 100%;
                border-radius: 100px;
                padding: 25px;
                border: none;

                &::placeholder {
                    color:#22343D;
                    font-weight: map-get($font-weights, regular);
                    font-size: 16px;
                }
            }
            input[type=submit]{
                border: 1px solid $primary-color;
                background-color: $primary-color;
                color: $white;
                border-radius: 100px;
                padding: 20px 24px;
                font-weight: map-get($font-weights, semi-bold);
                font-size: 16px;
                margin: 8px;
                cursor: pointer;

                &:hover {
                    background-color: #046e62;
                    font-weight: map-get($font-weights, bold);
                }
            }

        }
    }
}

.resource-blogs-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    h2,p {
        margin: 0;
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(3,2fr);
        gap: 30px;
    }
    &-item {
        border: 1px solid #DEDEDE;
        border-radius: 9px;

        &:hover  {
            transform: translate3d(0, -15px, 0);
        }

        img {
            width: 100%;
        }

        &-content {
            padding: 24px;
            & .p-bold {
                font-weight: map-get($font-weights, bold);
            }
        }
    }

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: $dark-color;
        font-weight: map-get($font-weights, medium);
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 8px;

        &:hover {
            color: $primary-color;
        }
    }
}

.resource-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
            margin-bottom: 17px;
            font-size: 34px;
        }
        p {
            font-weight: map-get($font-weights, medium);
            margin: 0;
        }
    }

    &-social-media {
        display: flex;
        gap: 21px;

        & img{
            background-color: #EDFFFC;
            border-radius: 50%;
            padding: 11px 9px;

            &:hover {
                background-color:#50b9ad;
            }
        }
    }
}