$primary-color: #02897A;
$dark-color:#22343D;
$light-color:#BCD0E5;
$hover-color:#F5F5F5;
$border-color:#DEDEDE;
$white:#fff;
$font-weights: (
    "regular":400,
    "medium":500,
    "semi-bold":600,
    "bold":700
);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@mixin media-xl {
    @media screen and (min-width:2560px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (max-width:1440px){
        @content;
    }
}

@mixin media-md {
    @media screen and (max-width:1024px){
        @content;
    }
}

@mixin media-mobile-lg {
    @media screen and (max-width:425px){
        @content;
    }
}

@mixin media-mobile-md {
    @media screen and (max-width:375px){
        @content;
    }
}

@mixin media-mobile-sm {
    @media screen and (max-width:320px){
        @content;
    }
}
