@import "variables";
.main-header {
    width: 100%;
    background-color: $white;
    display: flex;
    align-items: center;
    padding: 19px 0;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
    z-index: 1;

    &-bar {
        width: 78%;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    &-logo a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
        gap: 16px;
    }

    &-nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 24px;

        .active, a:hover {
            font-weight: map-get($font-weights, semi-bold);
        }
    }
}


.call-to-action {
    width: 90%;
    margin: 0 auto;
    background-color: $primary-color;
    display: flex;
    gap: 100px;
    border-radius: 32px;

    h4 {
        color: $white;
        font-size: 32px;
        margin-bottom: 60px;
    }
    &-content {
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .button {
            background-color: $white;
            color: $primary-color;
            padding: 13px 35px;

            &:hover {
                font-size: 18px;
                background-color: $white;
                font-weight: map-get($font-weights, bold);
            }
        }
    }
}



footer {
    .footer-items {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 82px;

        .col1 {
            padding-right: 80px;

            a:hover {
                text-decoration: none!important;
            }
        }

        .col2 {
            padding-right: 47px;
        }
    
        .footer-item {
            max-width: 325px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;

            a {
                display: flex;
                gap: 16px;

                &:hover {
                    text-decoration: underline;
                }
            }

            .footer-social-media {
                display: flex;
                align-items: center;
                gap: 16px;

                & a {
                    background-color: #EDFFFC;
                    padding: 8px;
                    border-radius: 100%;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                    
                    &:hover {
                        background-color:#50b9ad;
                    }
                }
            }

            h5 {
                font-weight: map-get($font-weights, medium);
                font-size: 20px;
            }

            .email-form {
                display: flex;
                flex-direction: column;
                gap: 21px;
                align-items: flex-start;

                input[type=email]{
                    width: 200%;
                    height: 48px;
                    border: 1px solid $light-color;
                    box-shadow: 0 1px 4px 3px rgba(0,0,0,.1);
                    margin-bottom: 13px;
    
                    &::placeholder {
                        color:#737373;
                        font-weight: map-get($font-weights, regular);
                        font-size: 16px;
                        padding: 10px;
                    }
                }
            }
        }
    }
}



@include media-md {
    .main-header-bar {
        width: 90%!important;
    }

    .call-to-action {
        gap: 60px
    }
    .call-to-action-container {
        width: 78%!important;
    }
    
    img[alt="boost business"] {
        width: 40vw;
    }

    .footer-container {
        width: 90%!important;

        .col1 {
            padding-right: 0!important;
        }
        .col2 {
            padding-right: 0!important;
        }
        .footer-item {
            max-width: 270px!important;
        }
    }
}


@include media-mobile-lg {
    header {
        .main-header-bar {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 30px;
    
            .main-header-nav {
                display: none;
                flex-direction: column;
                align-items:center;
                justify-content:flex-end;
                gap: 30px;
                width: 100%;
                transform: translateY(0);
                
            }
        }
        .main-header-nav-btn {
            border: none;
            position: absolute;
            right: 35px;
            top: 40px;
            width: 23px;
            height: 3px;
            background: $dark-color;
            &::before {
                content: '';
                position: absolute;
                right: 0.5px;
                top: -8px;
                width: 23px;
                height: 3px;
                background: $dark-color;
            }
            &::after {
                content: '';
                position: absolute;
                right: 0.5px;
                top: 8px;
                width: 23px;
                height: 3px;
                background: $dark-color;
            }
        }
    }
    .open {
        background: transparent!important;

        &::before {
            transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
            transform: rotate(-45deg) translate(3px, -7px);
        }
    }

    .open-menu{
        display: flex!important;
        
        .active, a:hover {
            font-weight: map-get($font-weights, semi-bold);
        }
    }
}


@include media-mobile-lg {
    .call-to-action,
    .footer-items {
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .call-to-action {
        gap: 32px;
        &-content {
           justify-content: center!important;
           align-items: center;
           h4 {
                text-align: center;
            }
        }

        img[alt="boost business"] {
            width: 80vw;
        }
    }

    footer {
        .footer-items {
            gap: 30px!important;
            align-items: center!important;
    
            .footer-item {
                align-items: center!important;
                
                & .email-form {
                    align-items: center!important;
                }
            }
        }
        p {
            text-align: center;
        }
    }
}
