@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "variables";
@import "product";



body {
    font-family: 'Poppins',sans-serif;
    background: 50% 850px url(../../images/backgrounds/Bg.svg)no-repeat;
    background-size: contain;
}
.container {
    width: 78%;
    margin: 0 auto;
}
h1 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 30px;
}
h2 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 40px;
    text-align: left;
    margin-bottom: 18px;
}
h3 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 32px;
    margin-bottom: 23px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 66px;
    text-align: left;
}
h4 {
    color: $dark-color;
    font-weight: map-get($font-weights, semi-bold);
    font-size: 22px;
    margin-bottom: 13px;
}
h5 {
    color: $dark-color;
    font-weight: map-get($font-weights, semi-bold);
    font-size: 16px;
    margin-bottom: 13px;
}
p {
    color: $dark-color;
    font-weight: map-get($font-weights, regular);
    font-size: 18px;
    text-align: left;
    margin-bottom: 30px;
}
a {
    text-decoration: none;
    color: $dark-color;
    font-weight: map-get($font-weights, regular);
    font-size: 16px;
}
.button {
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid $light-color;
    background-color: $primary-color;
    color: $white;
    font-weight: map-get($font-weights, semi-bold);
    font-size: 16px;
    cursor: pointer;

    &.signin-btn {
        background-color: $white;
        color: #173A56;

        &:hover {
            background-color: $hover-color;
            font-weight: map-get($font-weights, bold);
        }
    }

    &:hover {
        background-color: #046e62;
        font-weight: map-get($font-weights, bold);
    }
}
.switcher {
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
