@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "variables";
@import "animations";


body {
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}
.body-background {
    background: 50% 13% url(../../images/backgrounds/Bg.svg)no-repeat,
                0% 52% url(../../images/backgrounds/Bg-2.svg)no-repeat;
    background-size: contain;
}
.container {
    width: 78%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 150px;
}
.footer-container {
    padding-top: 150px;
    width: 78%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
h1 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 30px;
}
h2 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 40px;
    text-align: left;
    margin-bottom: 18px;
}
h3 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 32px;
    margin-bottom: 23px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 66px;
}
h4 {
    color: $dark-color;
    font-weight: map-get($font-weights, semi-bold);
    font-size: 22px;
    margin-bottom: 13px;
}
h5 {
    color: $dark-color;
    font-weight: map-get($font-weights, semi-bold);
    font-size: 16px;
    margin-bottom: 13px;
}
h6 {
    color: $dark-color;
    font-weight: map-get($font-weights, bold);
    font-size: 24px;
    margin-bottom: 8px;
    text-align: center;
}
p {
    color: $dark-color;
    font-weight: map-get($font-weights, regular);
    font-size: 16px;
    text-align: left;
    margin-bottom: 32px;
}
a {
    text-decoration: none;
    color: $dark-color;
    font-weight: map-get($font-weights, regular);
    font-size: 16px;
}
.button {
    padding: 10px 25px;
    border-radius: 5px;
    border: 1px solid $light-color;
    background-color: $primary-color;
    color: $white;
    font-weight: map-get($font-weights, semi-bold);
    font-size: 16px;
    cursor: pointer;

    &.signin-btn {
        background-color: $white;
        color: #173A56;

        &:hover {
            background-color: $hover-color;
            font-weight: map-get($font-weights, bold);
        }
    }

    &:hover {
        background-color: #046e62;
        font-weight: map-get($font-weights, bold);
    }
}
.switcher {
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


@include media-md {
    body {
        width: 100%;
        overflow: auto;
    }
    .container {
        width: 90%!important;
    }
}

@include media-mobile-lg {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
    .container {
        gap: 100px!important;
    }
}

