@import "../variables";
@include media-xl {
    .body-background {
        background: 50% 9% url(../../../images/backgrounds/Bg.svg)no-repeat,
                    0% 53% url(../../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
    .flex-sections {
        gap: 300px;
    }
}

@include media-lg {
    .body-background {
        background: 50% 13.5% url(../../../images/backgrounds/Bg.svg)no-repeat,
                    0% 52% url(../../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }
}

@include media-md {
    .body-background {
        background: 50% 13.2% url(../../../images/backgrounds/Bg.svg)no-repeat,
                    0% 48% url(../../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    img[alt="hero illustration"],
    img[alt="management"],
    img[alt="support"],
    img[alt="collaborative"] {
        width: 40vw;
    }

    .expert-role {
        & p {
            padding: 10px!important;
        }
    }
}

@include media-mobile-lg {
    .body-background {
        background: 50% 13.5% url(../../../images/backgrounds/Bg.svg)no-repeat,
                    0% 35.7% url(../../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    .hero-section,
    .main-presentation,
    .main-presentation-items,
    .flex-sections,
    .blogs-section-items,
    .review-section-items {
        flex-direction: column!important;
        align-items: center!important;
        justify-content: center!important;
    }

    .expert-roles {
        grid-template-columns: repeat(1 ,1fr)!important;
        align-items: center!important;
        justify-content: center!important;
    }

    img[alt="hero illustration"],
    img[alt="management"],
    img[alt="support"],
    img[alt="collaborative"] {
        width: 80vw;
    }

    .hero-section,
    .flex-sections {
        flex-direction: column-reverse!important;
        &.middle {
            flex-direction: column!important;
        }
    }

    .hero-section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2,p {
            text-align: center;
        }
    }

    .modal-content iframe {
        width: 90%;
        height: 60%;
    }

    .main-presentation {
        h3 {
            width: 85%;
        }
        &-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
                width: 70%;
            }
        }
    }

    .contact-expert-section {
        h3 {
            width: 95%;
        }
        .center-para {
            width: 90%;
        }
        .left-in-media {
            flex-direction: row!important;
        }
        .right-in-media {
            flex-direction: row-reverse!important;
        }
        img[alt="first expert"],
        img[alt="second expert"],
        img[alt="third expert"],
        img[alt="fourth expert"] {
            width: 70px!important;
            height: 70px!important;
        }
    }

    .blogs-section {
        h2,p {
            text-align: center;
        }
        &-items {
            & .blogs-section-item {
                max-width: 100%!important;
                &-content {
                    p {
                        text-align: left!important;
                    }
                    h4 {
                        width: 85%!important;
                    }
                }
            }
        }
        & .blogs-slides {
            display: none;
        }
    }
}

@include media-mobile-md {
    .body-background {
        background: 50% 13.7% url(../../../images/backgrounds/Bg.svg)no-repeat,
                    0% 35.4% url(../../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    .expert-role {
        & p {
            padding: 8px!important;
        }
    }
}

@include media-mobile-sm {
    .body-background {
        background: 50% 13.9% url(../../../images/backgrounds/Bg.svg)no-repeat,
                    0% 35.2% url(../../../images/backgrounds/Bg-2.svg)no-repeat!important;
        background-size: contain!important;
    }

    .contact-expert-section {
        h3 {
            width: 90%;
        }
        .center-para {
            width: 80%;
        }
        .expert-role {
            gap: 10px!important;

            img[alt="first expert"],
            img[alt="second expert"],
            img[alt="third expert"],
            img[alt="fourth expert"] {
                width: 60px!important;
                height: 60px!important;
            }
        }
    }

    .hero-section-btns{ 
        gap: 3px!important;
    }
}

