@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.animation-to-top {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.animation-to-bottom {
  opacity: 0;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.animation-bottom-to-top {
  opacity: 0;
  -webkit-animation: animation-bottom-to-top 1s;
          animation: animation-bottom-to-top 1s;
}

.animation-top-to-bottom {
  opacity: 0;
  -webkit-animation: animation-top-to-bottom 1s;
          animation: animation-top-to-bottom 1s;
}

.animation-to-left {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.animation-to-right {
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.animation-scale {
  opacity: 0;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

.animation {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transform: scale(0px);
          transform: scale(0px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.reveal2 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.reveal3 {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.reveal4 {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

@-webkit-keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@-webkit-keyframes showMenu {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes showMenu {
  from {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes hideMenu {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@keyframes hideMenu {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}

@-webkit-keyframes showAnswer {
  from {
    margin-top: -10px;
  }
  to {
    margin-top: 0;
  }
}

@keyframes showAnswer {
  from {
    margin-top: -10px;
  }
  to {
    margin-top: 0;
  }
}

@-webkit-keyframes hideAnswer {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -10px;
  }
}

@keyframes hideAnswer {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -10px;
  }
}

@-webkit-keyframes animation-bottom-to-top {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  25% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  75% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes animation-bottom-to-top {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  25% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  75% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@-webkit-keyframes animation-top-to-bottom {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  25% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  75% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes animation-top-to-bottom {
  0% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  25% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  75% {
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

body {
  font-family: 'Poppins',sans-serif;
  scroll-behavior: smooth;
}

.body-background {
  background: 50% 13% url(../../images/backgrounds/Bg.svg) no-repeat, 0% 52% url(../../images/backgrounds/Bg-2.svg) no-repeat;
  background-size: contain;
}

.container {
  width: 78%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 150px;
}

.footer-container {
  padding-top: 150px;
  width: 78%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

h1 {
  color: #22343D;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  color: #22343D;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  margin-bottom: 18px;
}

h3 {
  color: #22343D;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 23px;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 66px;
}

h4 {
  color: #22343D;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

h5 {
  color: #22343D;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 13px;
}

h6 {
  color: #22343D;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
  text-align: center;
}

p {
  color: #22343D;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  margin-bottom: 32px;
}

a {
  text-decoration: none;
  color: #22343D;
  font-weight: 400;
  font-size: 16px;
}

.button {
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #BCD0E5;
  background-color: #02897A;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.button.signin-btn {
  background-color: #fff;
  color: #173A56;
}

.button.signin-btn:hover {
  background-color: #F5F5F5;
  font-weight: 700;
}

.button:hover {
  background-color: #046e62;
  font-weight: 700;
}

.switcher {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  body {
    width: 100%;
    overflow: auto;
  }
  .container {
    width: 90% !important;
  }
}

@media screen and (max-width: 425px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }
  .container {
    gap: 100px !important;
  }
}
/*# sourceMappingURL=main.css.map */