@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.main-header-bar {
  width: 78%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 16px;
}

.main-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 24px;
}

.main-header-nav .active, .main-header-nav a:hover {
  font-weight: 600;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 25px;
}

.hero-section-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.hero-section-btns .play-btn {
  background-color: #fff;
  color: #02897A;
  text-decoration: underline;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.hero-section-btns .play-btn:hover {
  background-color: #F5F5F5;
  font-weight: 700;
}

.main-presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 114px;
}

.main-presentation-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 46px;
}

.flex {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 84px;
}

.flex .left {
  font-size: 32px;
  margin-bottom: 23px;
}

.flex .support-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.flex .support-list .check-icons-margin {
  margin-bottom: 30px;
}

body {
  font-family: 'Poppins',sans-serif;
  background: 50% 850px url(../../images/backgrounds/Bg.svg) no-repeat;
  background-size: contain;
}

.container {
  width: 78%;
  margin: 0 auto;
}

h1 {
  color: #22343D;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  color: #22343D;
  font-weight: 700;
  font-size: 40px;
  text-align: left;
  margin-bottom: 18px;
}

h3 {
  color: #22343D;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 23px;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 66px;
  text-align: left;
}

h4 {
  color: #22343D;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}

h5 {
  color: #22343D;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 13px;
}

p {
  color: #22343D;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #22343D;
  font-weight: 400;
  font-size: 16px;
}

.button {
  padding: 10px 25px;
  border-radius: 5px;
  border: 1px solid #BCD0E5;
  background-color: #02897A;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.button.signin-btn {
  background-color: #fff;
  color: #173A56;
}

.button.signin-btn:hover {
  background-color: #F5F5F5;
  font-weight: 700;
}

.button:hover {
  background-color: #046e62;
  font-weight: 700;
}

.switcher {
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */